{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="recipe-detail">

    <div class="recipe-image-container">
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}"
                class="recipe-image"
                alt="{{ recipe.title }}">
            {% else %}
                <img src="{% static 'images/baking.jpg' %}"
                    class="recipe-image"
                    alt="Recipe placeholder">
        {% endif %}

  <header class="recipe-header">
    <h2 class="recipe-title">{{ recipe.title }}</h2>
    <div class="recipe-description">{{recipe.description| safe}}</div>
    <div class="recipe-meta">{{ recipe.author }} | {{ recipe.created_on|date:"F j, Y" }} </div>
  </header>

  <section class="information-section">
    <div class="servings">
        <h3>Servings:</h3>
        <p>{{ recipe.servings }}</p>
    </div>

    <div class="difficulty">
        <h3>Difficulty</h3>
        <p>{{ recipe.difficulty }}/5</p>
    </div>

    <div class="cook-time">
        <h3>Cook Time</h3>
        <p>{{ recipe.cook_time }} minutes</p>
    </div>

    <div class="prep-time">
        <h3>Prep Time</h3>
        <p>{{ recipe.prep_time }} minutes</p>
    </div>
  </section>

  <section class="ingredients-section">
    <h3>Ingredients</h3>
    {{ recipe.ingredients|safe }}
  </section>

  <section class="recipe-section">
    <h3>Method</h3>
    {{ recipe.method|safe }}
  </section>

</section>

<section class="comment-section">

    <div class="comment-count">
        Comments: {{ comment_count }}
    </div>

    <div class="comment-display">
      <h4>Comments:</h4>
        {% for comment in comments %}
            {% if not comment.approved and comment.author == user %}
            {% elif not comment.approved %}
            {% endif %}
            {{ comment.author }}
              {{ comment.created_on }}
            <div id="comment{{ comment.id }}">
            {{ comment.content | linebreaks }}
            </div>
            {% if not comment.approved and comment.author == user %}
            <p class="approval">
                This comment is awaiting approval
            </p>
            {% endif %}
            {% if user.is_authenticated and comment.author == user %}  
                <button class="button btn-delete" comment_id="{{ comment.id }}">Delete</button>
                <button class="button btn-edit" comment_id="{{ comment.id }}">Edit your comment</button>
            {% endif %}
        {% endfor %}
    </div>


    <div class="modal" id="deleteModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="deleteModalLabel">Delete your comment?</h5>
                            <button class="button"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        Are you sure you want to remove this comment? 
                        You can't have your cake and eat it too. 
                    </div>
                    <div class="modal-footer">
                        <button class="button"
                        data-bs-dismiss="modal">Close</button>
                        <a class="button" id="deleteConfirm" href="#">Delete</a>
                    </div>
            </div>
        </div>
    </div>

           

        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post"
          style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button class="button submit-button" id="submitButton" type="submit">
            Submit comment
          </button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
</section>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}