{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="about-section">

  <header class="about-header">
    <h2>{{ about.title }}</h2>
    <p class="about-meta">
   {{ about.created_on|date:"F j, Y" }}
    </p>
  </header>

  <div class="about-image">
    <img src="{% static '#' %}" alt="About placeholder image">
  </div>

  <section class="about-section">
    <h3>About</h3>
    <p>{{ about.content | safe }}</p>
  </section>


<h2>Get in touch</h2>

<p> Got a craving you wish to satisfy or a favourite recipe to share? 
    <br>Contact us using the form below.</p>

      <form method="post">
        {{ contact_form | crispy }}
        {% csrf_token %}
        <button class ="button button-send" type="submit">Send</button>
      </form>


 {% endblock content %}